@import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);
body {
  margin: 0;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 20px;  
  background-color: #ffffff; 
  color: #666;
  -webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
font-smoothing: always;
text-rendering: optimizeLegibility;
-webkit-text-size-adjust: none;
-ms-text-size-adjust: 100;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary,
ul,
p,
div {
    display: block;
}
audio,
canvas,
video {
    display: inline-block;
}
audio:not([controls]) {
    display: none;
    height: 0;
}
[hidden] {
    display: none;
}
ul,p {
    margin: 0;
    padding: 0px;
}
ul li {
    list-style: none;
}
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
body {
    margin: 0;
}
a{color:#048ccc;text-decoration:none;}
a:focus {
    outline: thin dotted;
}
a:active,
a:hover {
    outline: 0;
}
.clearfloat {
    clear: both;
    height: 0;
    font-size: 1px;
    line-height: 0px;
}
.clearfix {
    display: block;
}
.clearfix.hide {
    display: none;
}
.clearfix::after,
.pageWrapper::after,
.gridWrapper::after,.section::after {
    clear: both;
    content: ' ';
    display: block;
    font-size: 0;
    line-height: 0;
    visibility: hidden;
    width: 0;
    height: 0;
}
.pull-right {
    float: right;
}
.pull-left {
    float: left;
}
.hide {
    display: none;
}
.show {
    display: block;
}
.invisible {
    visibility: hidden;
}
/*** grid layout ***/

.pageWrapper {
    margin: 0 auto;
    width: 960px;
}
.gridWrapper,.section {
    width: 100%;
    display: block;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0px;
    *zoom: 1;
}
.gridWrapper:before,
.gridWrapper:after {
    display: table;
    line-height: 0;
    content: "";
}
.gridWrapper:after {
    clear: both;
}
.gridWrapper >[class*="grid"] {
    display: block;
    float: left;
    width: 100%;
    margin-left: 2.127659574468085%;
    *margin-left: 2.074468085106383%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.gridWrapper >[class*="grid"]:first-child {
    margin-left: 0;
}
.gridWrapper .grid12 {
    width: 100%;
    *width: 99.94680851063829%;
}
.gridWrapper .grid11 {
    width: 91.48936170212765%;
    *width: 91.43617021276594%;
}
.gridWrapper .grid10 {
    width: 82.97872340425532%;
    *width: 82.92553191489361%;
}
.gridWrapper .grid9 {
    width: 74.46808510638297%;
    *width: 74.41489361702126%;
}
.gridWrapper .grid8 {
    width: 65.95744680851064%;
    *width: 65.90425531914893%;
}
.gridWrapper .grid7 {
    width: 57.44680851063829%;
    *width: 57.39361702127659%;
}
.gridWrapper .grid6 {
    width: 48.93617021276595%;
    *width: 48.88297872340425%;
}
.gridWrapper .grid5 {
    width: 40.42553191489362%;
    *width: 40.37234042553192%;
}
.gridWrapper .grid4 {
    width: 31.914893617021278%;
    *width: 31.861702127659576%;
}
.gridWrapper .grid3 {
    width: 23.404255319148934%;
    *width: 23.351063829787233%;
}
.gridWrapper .grid2 {
    width: 14.893617021276595%;
    *width: 14.840425531914894%;
}
.gridWrapper .grid1 {
    width: 6.382978723404255%;
    *width: 6.329787234042553%;
}
[class*="grid"].hide,
.gridWrapper[class*="grid"].hide {
    display: none;
}
[class*="grid"].pull-right,
.gridWrapper[class*="grid"].pull-right {
    float: right;
}
[class*="grid"].pull-left,
.gridWrapper[class*="grid"].pull-left {
    float: left;
}
/** Page alignment Css **/

.push-0 {
    padding: 0px;
}
.push-0-im {
    padding: 0px !important;
}
.pad10 {
    padding: 10px;
}
.tpad5 {
    padding-top: 5px;
}
.tpad9 {
    padding-top: 9px;
}
.tpad10 {
    padding-top: 10px;
}
.tpad20 {
    padding-top: 20px;
}
.tpad30 {
    padding-top: 30px;
}
.tpad40 {
    padding-top: 40px;
}
.rpad5 {
    padding-right: 5px;
}
.rpad10 {
    padding-right: 10px;
}
.rpad20 {
    padding-right: 20px;
}
.rpad30 {
    padding-right: 30px;
}
.rpad40 {
    padding-right: 40px;
}
.bpad5 {
    padding-bottom: 5px;
}
.bpad10 {
    padding-bottom: 10px;
}
.bpad20 {
    padding-bottom: 20px;
}
.bpad30 {
    padding-bottom: 30px;
}
.bpad40 {
    padding-bottom: 40px;
}
.lpad5 {
    padding-left: 5px;
}
.lpad9 {
    padding-left: 9px;
}
.lpad10 {
    padding-left: 10px;
}
.lpad20 {
    padding-left: 20px;
}
.lpad30 {
    padding-left: 30px;
}
.lpad40 {
    padding-left: 40px;
}
.push-down-0 {
    padding-top: 0px;
}
.push-down-3 {
    padding-top: 3px;
}
.push-down-5 {
    padding-top: 5px;
}
.push-down-10 {
    padding-top: 10px;
}
.push-down-13 {
    padding-top: 13px;
}
.push-down-20 {
    padding-top: 20px;
}
.push-down-30 {
    padding-top: 30px;
}
.push-down-40 {
    padding-top: 40px;
}
.push-down-50 {
    padding-top: 50px;
}
.push-down-60 {
    padding-top: 60px;
}
.push-down-70 {
    padding-top: 70px;
}
.push-bottom-0 {
    padding-bottom: 0px;
}
.push-bottom-3 {
    padding-bottom: 3px;
}
.push-bottom-5 {
    padding-bottom: 5px;
}
.push-bottom-10 {
    padding-bottom: 10px;
}
.push-bottom-13 {
    padding-bottom: 10px;
}
.push-bottom-20 {
    padding-bottom: 20px;
}
.push-bottom-30 {
    padding-bottom: 30px;
}
.push-bottom-40 {
    padding-bottom: 40px;
}
.push-bottom-50 {
    padding-bottom: 50px;
}
.push-bottom-60 {
    padding-bottom: 60px;
}
.push-bottom-70 {
    padding-bottom: 70px;
}
.push-left-0 {
    padding-left: 0px;
}
.push-left-3 {
    padding-left: 3px;
}
.push-left-5 {
    padding-left: 5px;
}
.push-left-10 {
    padding-left: 10px;
}
.push-left-20 {
    padding-left: 20px;
}
.push-left-30 {
    padding-left: 30px;
}
.push-left-40 {
    padding-left: 40px;
}
.push-left-50 {
    padding-left: 50px;
}
.push-left-60 {
    padding-left: 60px;
}
.push-left-70 {
    padding-left: 70px;
}
.push-right-0 {
    padding-right: 0px;
}
.push-right-3 {
    padding-right: 3px;
}
.push-right-5 {
    padding-right: 5px;
}
.push-right-10 {
    padding-right: 10px;
}
.push-right-20 {
    padding-right: 20px;
}
.push-right-30 {
    padding-right: 30px;
}
.push-right-40 {
    padding-right: 40px;
}
.push-right-50 {
    padding-right: 50px;
}
.push-right-60 {
    padding-right: 60px;
}
.push-right-70 {
    padding-right: 70px;
}
.pull-0 {
    margin: 0px;
}
.pull-0-im {
    margin: 0px !important;
}
.pull-down-0 {
    margin-top: 0px;
}
.pull-down-0-im {
    margin-top: 0px !important;
}
.pull-down-3 {
    margin-top: 3px;
}
.pull-down-5 {
    margin-top: 5px;
}
.pull-down-10 {
    margin-top: 10px;
}
.pull-down-13 {
    margin-top: 13px;
}
.pull-down-20 {
    margin-top: 20px;
}
.pull-down-21 {
    margin-top: 21px;
}
.pull-down-30 {
    margin-top: 30px;
}
.pull-down-40 {
    margin-top: 40px;
}
.pull-down-50 {
    margin-top: 50px;
}
.pull-down-60 {
    margin-top: 60px;
}
.pull-down-70 {
    margin-top: 70px;
}
.pull-bottom-0 {
    margin-bottom: 0px;
}
.pull-bottom-0-im {
    margin-bottom: 0px !important;
}
.pull-bottom-5 {
    margin-bottom: 5px;
}
.pull-bottom-10 {
    margin-bottom: 10px;
}
.pull-bottom-13 {
    margin-bottom: 13px;
}
.pull-bottom-20 {
    margin-bottom: 20px;
}
.pull-bottom-30 {
    margin-bottom: 30px;
}
.pull-bottom-40 {
    margin-bottom: 40px;
}
.pull-bottom-50 {
    margin-bottom: 50px;
}
.pull-bottom-60 {
    margin-bottom: 60px;
}
.pull-bottom-70 {
    margin-bottom: 70px;
}
.pull-left-0 {
    margin-left: 0px;
}
.pull-left-0-im {
    margin-left: 0px !important;
}
.pull-left-10 {
    margin-left: 10px;
}
.pull-left-15 {
    margin-left: 15px;
}
.pull-left-20 {
    margin-left: 20px;
}
.pull-left-30 {
    margin-left: 30px;
}
.pull-left-40 {
    margin-left: 40px;
}
.pull-left-50 {
    margin-left: 50px;
}
.pull-left-60 {
    margin-left: 60px;
}
.pull-left-70 {
    margin-left: 70px;
}
.pull-right-0 {
    margin-right: 0px;
}
.pull-right-0-im {
    margin-right: 0px !important;
}
.pull-right-10 {
    margin-right: 10px;
}
.pull-right-20 {
    margin-right: 20px;
}
.pull-right-30 {
    margin-right: 30px;
}
.pull-right-40 {
    margin-right: 40px;
}
.pull-right-50 {
    margin-right: 50px;
}
.pull-right-60 {
    margin-right: 60px;
}
.pull-right-70 {
    margin-right: 70px;
}
.pull-null {
    margin: 0px;
}
.push-null {
    padding: 0px;
}
.f8 {
    font-size: 0.6691666733584em;
}
.f9 {
    font-size: 0.7528125075282em;
}
.f10 {
    font-size: 0.8364583416979999em;
}
.f11 {
    font-size: 0.9201041758677999em;
}
.f12 {
    font-size: 1.0037500100376em;
}
.f14 {
    font-size: 1.1710416783772em;
}
.f15 {
    font-size: 1.2546875125469998em;
}
.f16 {
    font-size: 1.3383333467168em;
}
.f17 {
    font-size: 1.4219791808866em;
}
.f18 {
    font-size: 1.5056250150564em;
}
.f20 {
    font-size: 1.6729166833959999em;
}
.txt-center {
    text-align: center;
}
.txt-left {
    text-align: left;
}
.txt-right {
    text-align: right;
}
.pos-rel {
    position: relative;
}
.pos-abs {
    position: absolute;
}